.container{
    
    height: 350px;
    width: 450px;
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2px;
    background-color: rgb(159, 235, 8);
    
}
.Wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    padding: 40px;
  border-radius: 8px;

}
#id1{
  
    display: flex;
    justify-content: center;
    margin-top: 20px;
    border-radius: 8px;
    font-size: 20px;
}
body{
    background: rgba(0, 0, 0, 0.2);
}
#Button{
    border-radius: 15px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 7px;
    text-decoration: none;
}
#input{
    /* height: 40px;
    /* width: 50vw; */
    border-radius: 8px;
    border: none;
    margin-bottom: 8px; 
    
}
#id3{
    border: 2px solid black;
    text-decoration: none;
}