html,
body {
  margin: 0%;
}

.container {
  height: 100vh;
  
}
.parent1 {
  /* position: fixed; */
  top: 0%;
  display: flex;
  justify-content: space-between;
}

.child1 {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  background-color: black;
  height: 5vh;
  align-items: center;
}

.parent2 {
  display: flex;
 
  background-color: whitesmoke;

  justify-content: space-around;
}

.child2 {
  display: flex;
  /* flex: 1; */
  justify-content: flex-end;
  height: 8vh;
  padding-right: 18px;
  font-family: Gentona family;
  align-items: center;
}

.space {
  margin-left: 8px;
  margin-right: 8px;
  padding-right: 8px;
}

.child1 a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

.child2 a {
  color: black;
  padding: 11px 22px;
  /* background-color: white; */
}

a:hover {
  color: limegreen;
}

.top_title {
  display: flex;
  justify-content: center;
  font-size: 38px;
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 10px;
  padding: 0 20px;
  position: relative;
  z-index: 5;
}

.top_subtitle {
  display: flex;
  justify-content: center;

  font-size: 20px;
  color: #ffffff;
  font-weight: 300;
  padding: 0 20px;
  position: relative;
  z-index: 5;
}

.backimg {
  height: 85vh;
  background-image: url(https://cms-web.olacabs.com/00000000383.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 12px;
  object-fit: cover;
}

.section2 {
  /* background-color: red; */
  height: 100vh;
  /* border: 2px solid black; */
  margin-top: 4px;
  margin-right: 50px;
  margin-left: 50px;
}
.page2 {
  display: flex;
  flex-direction: column;
}

.section-heading {
  font-size: 36px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.92);
}
.section-sub-heading{
  margin-top: 0px;
  font-size: 18px;
}

.parent3{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; */
}
.child3 {
  width: 50%;
  margin: 10px;
  background: rgba(0, 0, 0, 0.05);
  margin-bottom: 8px;
  margin-top: 8px;
}
.heading, .comm-info{
  text-align: center;
}
.img3 {
  width: 100%;
  object-fit: cover;
}
.parent4{
  background-color: rgb(0, 0, 0,0.5);
  display: felx;
  height: 60px;
}
.SocialLink{
  display: flex;
  justify-content: flex-start;
  align-items: center;

}
.Links{
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}
.fab{
  font-size: 35px;
}
.fa-facebook{
  color: royalblue;
}
.fa-instagram{
  color: tomato;
}
.fa-youtube{
  color: red;
}
.fa-twitter{
  color: rgb(8, 170, 235);
}

